form {

    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 5px;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}


